<!--<h2>File Breakdown-->
  {{#if fullReport}}
  <div class="pad1x">
    <a id="toggle" href="javascript:;" onclick="toggleAllDetails(this)" class="toggle-all-link">Expand all</a>
  </div>
  {{~/if~}}
<!--</h2>-->

<div class="pad1">

<table class="report-table">
  <thead>
    <tr>
      <th>File</th>
      <th class="error-col">Errors</th>
      <th class="warning-col">Warnings</th>
    </tr>
  </thead>
  <tbody>
    {{~#each files~}}
      {{~#row this~}}
        <td>
          {{~#if messages.length}}
            <a class="toggle-link" href="javascript:;" onclick="toggleDetails(this)">{{path}}</a>
          {{~else~}}
            {{path}}
          {{~/if~}}
        </td>
        <td>{{errors}}</td>
        <td>{{warnings}}</td>
      {{~/row~}}
      {{~#if messages.length~}}
        <tr class="details hidden">
          <td colspan="3">
            <table class="details-table">
              <tbody>
                {{~#each messages~}}
                  {{~#messageRow this~}}
                    <td>
                      {{#if line}}
                        {{line}}:{{column}}
                      {{/if}}
                    </td>
                    <td class="type">{{formatSeverity this}}</td>
                    <td>{{message}}</td>
                    {{#if ruleUrl}}
                      <td><a href="{{ruleUrl}}">{{ruleId}}</a></td>
                    {{^}}
                      <td>{{ruleId}}</td>
                    {{/if}}
                  {{~/messageRow}}
                {{~/each~}}
              </tbody>
            </table>
          </td>
        </tr>
      {{~/if~}}
    {{~/each~}}
  </tbody>
</table>
</div>